@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="SearchVideos">
    <label for="searchTerm">Search</label>
    <input type="text" name="searchTerm"/>
    <button type="submit">Search</button>
</form>